#header {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: white;
    height: 50px;
    position: relative;
    border-bottom: solid 1px #50aadf;
    margin-bottom: 15px;
}

#header a {
    width: 50%;
    text-align: center;
    font-size: 30px;
    position: relative;
    float: left;
    text-decoration: none;
    cursor: pointer;
    color: #50aadf;
}

.coin .country {
    margin: 15px;
}

label {}

table {
    width: 100%;
}

table td {
    width: 50%;
}

textarea {
    width: 100%;
    height: 200px;
}


/* overiding themes */

table.tablesorter thead tr .header {
    background-image: none;
    background: white;
    color: #50aadf;
    font-size: 20px;
}

table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp {
    background-color: white !important;
}


/*  */

.container {
    position: relative;
    margin: 0 auto;
    width: 130px;
    height: 40px;
    text-align: center;
}

button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #50aadf;
    color: #50aadf;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}

button:hover {
    color: white;
    background: #50aadf;
}

button:active {
    letter-spacing: 2px;
    letter-spacing: 2px;
}

button:after {
    content: "SUBMIT";
}

.onclic {
    width: 40px;
    border-color: #bbbbbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #50aadf;
    animation: rotating 2s 0.25s linear infinite;
}

.onclic:after {
    content: "";
}

.onclic:hover {
    color: #50aadf;
    background: white;
}

.validate {
    font-size: 13px;
    color: white;
    background: #1ECD97;
}

.validate::after {
    font-family: 'FontAwesome';
    content: "✔";
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ImageAdd {
    width: 70px;
    height: 110px;
    margin: 10px;
    border: 1px solid #50aadf;
    cursor: pointer;
    background: #50aadf
}

.innerCirlce {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: white solid 1px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
    color: white;
}

table tr {
    text-align: left;
    border-bottom: solid 1px gray;
}

table.tablesorter {
    font-family: arial;
    background-color: #CDCDCD;
    margin: 10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}

table.tablesorter thead tr th,
table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
    padding-right: 15px;
}

table.tablesorter thead tr .header {
    background-image: url(/static/themes/blue/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
}

table.tablesorter tbody tr.odd td {
    background-color: #F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(/static/themes/blue/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(/static/themes/blue/desc.gif);
}

table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

.ListContainer {
    display: none;
}

#imageviewer {
    position: fixed;
    width: 100%;
    z-index: 99999;
    height: 100%;
    background: #000000b2;
    top: 0px;
    left: 0px;
    text-align: center;
    line-height: 100%;
    display: none;
    align-items: center;
}

#imageviewer img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

#imageviewer .exit {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 99999;
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
}

#imageviewer .left {
    left: 5px;
}

#imageviewer .right {
    right: 5px;
    transform: rotatey(180deg);
}

#imageviewer .left,
#imageviewer .right {
    position: fixed;
    top: 50%;
    width: 50px;
    margin-top: -25px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


/* Loading css */

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    left: 50%;
    margin-left: -32px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #50aadf;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}


/*  */